# GCS Configuration
GCS_BUCKET=codebluecross-pubmed-data
# Path to your service account key JSON
GOOGLE_APPLICATION_CREDENTIALS=./gcs_service_account.json

# Qdrant Configuration
QDRANT_URL=https://qdrant-581583863729.us-central1.run.app
# QDRANT_API_KEY=your_optional_api_key

# Google Cloud / Vertex AI Configuration
GCP_PROJECT_ID=codebluecross-445817
GCP_LOCATION=us-central1

# Cloud Batch Indexing (Defaults for local testing)
BATCH_TASK_INDEX=0
BATCH_TASK_COUNT=1
