# GCS Configuration
GCS_BUCKET=pcp-pubmed-articles-store
# Path to your service account key JSON
GCS_CREDENTIALS=./gcs_service_account.json
GOOGLE_APPLICATION_CREDENTIALS=./gcs_service_account.json

# Qdrant Configuration
QDRANT_URL=http://34.134.76.70:6333
# QDRANT_API_KEY= (Not needed for this public instance)

# Google Cloud / Gemini Configuration
GCP_PROJECT_ID=physicianscopilot
GCP_LOCATION=us-central1
GOOGLE_API_KEY=your_gemini_api_key
EMBEDDING_MODEL_NAME=gemini-embedding-001
COLLECTION_NAME=pubmed_articles
GCS_PREFIX=

# Cloud Batch Indexing (Defaults for local testing)
BATCH_TASK_INDEX=0
BATCH_TASK_COUNT=1
